.feedback_container {
  width: 540px;
  height: 810px;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
}

.feedback_content {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
}
.feedback_input {
  display: flex;
  flex-direction: column;
}

.feedback_logo {
  height: 50px;
  width: 50px;
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
  border-radius: 50%;
  transform: translate(50px, -25px);
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.fa-plus {
  margin-top: 15px;
  font-weight: 700;
}
.feedback-input {
  background: #f7f8fd;
  border-radius: 5px;
  border: none;
  padding: 15px;
}

.feedback_details_input {
  background: #f7f8fd;
  border-radius: 5px;
  border: none;
  padding: 35px;
  width: 100%;
}

.feedback_buttons {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.btn-cancel-feedback {
  background: #3a4374;
  border-radius: 10px;
  color: #fff;
}

.btn-add-feedback {
  background: #ad1fea;
  border-radius: 10px;
  color: #fff;
}
.btn-add-feedback:hover {
  background-color: #a337f6;
  color: #f7f8fd;
}
.btn-cancel-feedback:hover {
  background-color: #3a4374;
  color: #f7f8fd;
}
.catg-dropdown-input {
  height: 48px;
  width: 456px;
  border: none;
  background: #f7f8fd;
  border-radius: 5px;
  padding-left: 20px;
}
