.btn-back {
  background-color: transparent;
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  left: 23%;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #647196;
  text-decoration: none;
}

.fa-angle-left {
  color: #4661e6;
}
.link-back {
  color: #647196;
  text-decoration: none;
}
