


.wrapper_feedback{
    display: flex;
    flex-direction: column;
    font-family: "Jost", sans-serif;
    margin: 20px 200px;
    
}



.btn-back {
    background-color: transparent;
    border: none;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #647196;
    text-decoration: none;
    margin-bottom: 55px;
    left: 24%;
  }
  
  .fa-angle-left {
    color: #4661e6;
  }
  .link-back {
    color: #647196;
    text-decoration: none;
  }
  

  .feedback_container {
    width: 540px;
    height: 900px;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
  }
  
  .feedback_content {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
  }
  .feedback_input {
    display: flex;
    flex-direction: column;
  }
  
  .feedback_logo {
    height: 50px;
    width: 50px;
    background: radial-gradient(
      128.88% 128.88% at 103.9% -10.39%,
      #e84d70 0%,
      #a337f6 53.09%,
      #28a7ed 100%
    );
    border-radius: 50%;
    transform: translate(50px, -25px);
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  
  .fa-plus {
    margin-top: 15px;
    font-weight: 700;
  }
  .feedback-input {
    background: #f7f8fd;
    border-radius: 5px;
    border: none;
    padding: 15px;
  }
  
  .feedback_details_input {
    background: #f7f8fd;
    border-radius: 5px;
    border: none;
    padding: 35px;
    width: 100%;
  }
  
  .feedback_buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  
  
  .catg-dropdown-input {
    height: 48px;
    width: 456px;
    border: none;
    background: #f7f8fd;
    border-radius: 5px;
    padding-left: 20px;
  }
  