.wrap_home {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.page_left{
  flex: 30%;
}

.page_right{
  flex: 70%;
}
body{
  background: #F2F2F2;
  font-family: "Jost", sans-serif;
  font-size: 16px;

}