.wrap_home {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.page_left{
  flex: 30%;
}

.page_right{
  flex: 70%;
}
body{
  background: #F2F2F2;
  font-family: "Jost", sans-serif;
  font-size: 16px;

}

.suggestion_container {
  background: #ffffff;
  border-radius: 10px;
}

.suggestion_content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 30px;
  padding: 30px;
}
.container_number_content {
  display: flex;
  justify-content: space-between;
}
.content {
  margin-left: 40px;
}
.content h4 {
  line-height: 26px;
  letter-spacing: -0.25px;
  color: #3a4374;
}
.content p {
  line-height: 23px;
  color: #647196;
  width: 90%;
 
}
.content button {
  background: #f2f4ff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 13px;
  color: #4661e6;
  line-height: 19px;
  padding: 10px 40px;
  border: none;
}

.comment {
  font-size: 18px;
  color: #3a4374;
  display: flex;
  align-items: center;
  transform: translateY(20px);
}
.comment .fas {
  color: #cdd2ee;
  margin-right: 10px;
  font-size: 25px;
}


.mentor_board {
  width: 255px;
  height: 137px;

  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
  border-radius: 10px;
  color: #fff;
}

.mentor_board_content{
    letter-spacing: -0.25px;
    padding: 40px 20px 40px 40px;
}