.roadmap-wrap{
  margin-top: 80px;
  margin-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #f2f2f2;
}

.roadmap-header-container {
  background: #373f68;
  border-radius: 10px;
  display: flex;
  color: #fff;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
  height: 113px;
}
.roadmap-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Jost", sans-serif;

}



.btn-back-roadmap {
  background-color: transparent;
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  margin-bottom: 15px;
}
.btn-back-roadmap a:hover{
  color: rgb(219, 214, 214);
}
.angle {
  color: #fff;
}
.link-back-roadmap {
  color: #fff;
  text-decoration: none;
}

